@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}


/*sidebar*/


body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: url("bg.jpg");
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}


.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    cursor: pointer;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    cursor: pointer;
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search-alt-2 {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5s ease;
}

.sidebar ul li .bx-search-alt-2:hover {
    background: #fff;
    color: #1d1b31;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #11101d;
    background: #fff;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}

.sidebar.active .profile_content .profile {
    background: #1d1b31;
}


.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job {
    margin-left: 10px;

}

.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job {
    font-size: 12px;
}

.profile #log_out {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1b31;
}

.sidebar.active .profile #log_out {
    left: 88%;
}

.sidebar.active .profile #log_out {
    background: none;
}

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}

.sidebar.active ~ .home_content {
    width: calc(100% - 240px);
    left: 240px;
}


/*sidebar*/





/*login parol*/

/*.login-wrapper {*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.form{*/
/*    position: relative;*/
/*    width: 100%;*/
/*    max-width: 400px;*/
/*    padding: 80px 40px 40px;*/
/*    background: rgba(0, 0, 0, 0.7);*/
/*    border-radius: 10px;*/
/*    color: #fff;*/
/*    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);*/
/*}*/

/*.form:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 50%;*/
/*    height: 100%;*/
/*    background: rgba(255, 255, 255, 0.08);*/
/*    transform: skewX(-26deg);*/
/*    transform-origin: bottom left;*/
/*    border-radius: 10px;*/
/*    pointer-events: none;*/
/*}*/

/*.form i{*/
/*    position: absolute;*/
/*    top: -50px;*/
/*    left: calc(50% - 50px);*/
/*    font-size: 100px;*/
/*}*/

/*.form h2{*/
/*    text-align: center;*/
/*    letter-spacing: 1px;*/
/*    margin-bottom: 2rem;*/
/*    color: #ff652f;*/
/*}*/

/*.form .input-group {*/
/*    position: relative;*/

/*}*/

/*.form .input-group input{*/
/*    width: 100%;*/
/*    padding: 10px 0;*/
/*    font-size: 1rem;*/
/*    letter-spacing: 1px;*/
/*    margin-bottom: 30px;*/
/*    border: none;*/
/*    border-bottom: 1px solid #fff;*/
/*    outline: none;*/
/*    background-color: transparent;*/
/*    color: inherit;*/
/*}*/

/*.form .input-group label{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    padding: 10px 0;*/
/*    font-size: 1rem;*/
/*    pointer-events: none;*/
/*    transition: .3s ease-out;*/
/*}*/
/*.form .input-group input:focus + label,*/
/*.form .input-group input:valid + label{*/
/*    transform: translateY(-18px);*/
/*    color: #ff652f;*/
/*    font-size: .8rem;*/
/*}*/

/*.submit-btn{*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    border: none;*/
/*    outline: none;*/
/*    background: #ff652f;*/
/*    font-size: 1rem;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 1rem;*/
/*    padding: 10px 20px;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*}*/

/*.forgot-pw{*/
/*    color: inherit;*/
/*}*/

/*#forgot-pw {*/
/*    position: absolute;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: 0;*/
/*    z-index: 1;*/
/*    background: #fff;*/
/*    opacity: 0;*/
/*    transition: 0.6s;*/
/*}*/

/*#forgot-pw:target{*/
/*    height: 100%;*/
/*    opacity: 1;*/
/*}*/

/*.close {*/
/*    position: absolute;*/
/*    right: 1.5rem;*/
/*    top: 0.5rem;*/
/*    font-size: 2rem;*/
/*    font-weight: 900;*/
/*    text-decoration: none;*/
/*    color: inherit;*/
/*}*/

/*login parol*/


/*website create*/

/*.banner{*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("bg3.jpg");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/

/*.navbar{*/
/*    width: 85%;*/
/*    margin: auto;*/
/*    padding: 35px 0;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

/*.logo{*/
/*    width: 120px;*/
/*    cursor: pointer;*/
/*}*/

/*.navbar ul li{*/
/*    list-style: none;*/
/*    display: inline-block;*/
/*    margin: 0 20px;*/
/*    position: relative;*/

/*}*/

/*.navbar ul li a{*/
/*    text-decoration: none;*/
/*    color: #fff;*/
/*    text-transform: uppercase;*/
/*}*/

/*.navbar ul li::after{*/
/*    content: '';*/
/*    height: 3px;*/
/*    width: 0%;*/
/*    background: #009688;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: -10px;*/
/*    transition: 0.5s;*/
/*}*/

/*.navbar ul li:hover::after{*/
/*    width: 100%;*/
/*}*/

/*.content{*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    text-align: center;*/
/*    color: #fff;*/
/*}*/

/*.content h1{*/
/*    font-size: 70px;*/
/*    margin-top: 80px;*/
/*}*/

/*.content p{*/
/*    margin: 20px auto;*/
/*    font-weight: 100;*/
/*    line-height: 25px;*/
/*}*/


/*button{*/
/*    width: 200px;*/
/*    padding: 15px 0;*/
/*    text-align: center;*/
/*    margin: 20px 10px;*/
/*    border-radius: 25px;*/
/*    font-weight: bold;*/
/*    border: 2px solid #009688;*/
/*    background: transparent;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/


/*span{*/
/*    border-radius: 25px;*/
/*    background: #009688;*/
/*    height: 100%;*/
/*    width: 0;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    z-index: -1;*/
/*    transition: 0.5s;*/
/*}*/
/*button:hover span{*/
/*    width: 100%;*/
/*}*/
/*button:hover{*/
/*    !*border: none;*!*/
/*}*/


/*website create*/





/*input type*/

/*body{*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background-color: #7D2AE8;*/
/*}*/

/*.container{*/
/*    position: relative;*/
/*    max-width: 460px;*/
/*    width: 100%;*/
/*    background-color: #fff;*/
/*    border-radius: 4px;*/
/*    padding: 30px;*/
/*    margin: 0 20px;*/
/*    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
/*}*/

/*.container .input-box{*/
/*    position: relative;*/

/*}*/

/*.input-box .show_hide {*/
/*    position: absolute;*/
/*    right: 16px;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    color: #A6A6A6;*/
/*    padding: 5px;*/
/*    cursor: pointer;*/
/*}*/


/*.input-box input {*/
/*    height: 60px;*/
/*    width: 100%;*/
/*    border: 2px solid #d3d3d3;*/
/*    border-radius: 4px;*/
/*    font-weight: 500;*/
/*    color: #333;*/
/*    outline: none;*/
/*    padding: 0 50px 0 16px;*/
/*}*/

/*.container .indicator {*/
/*    display: none;*/
/*    margin-top: 14px;*/
/*}*/

/*.container .indicator.active{*/
/*    display: block;*/
/*}*/

/*.indicator .icon-text {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.icon-text .error_icon {*/
/*    margin-right: 10px;*/
/*}*/

/*.icon-text .text{*/
/*    font-size: 14px;*/
/*    font-weight: 500;*/
/*    letter-spacing: 1px;*/
/*}*/

/*input type*/










